In [6]:
# Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,size=(4, 4)), columns=list('ABCD'))
print(df)

    A   B   C   D
0  53  46  89  12
1  24  54  83  57
2  61  51  74  44
3  62  78  47  70

In [7]:
# Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0              53              46              89              12
1              24              54              83              57
2              61              51              74              44
3              62              78              47              70

In [8]:
# Task - 3 Find the descriptive statistics of the 'df' dataframe.

print(df.describe(include='all'))

       Random value 1  Random value 2  Random value 3  Random value 4
count         4.00000        4.000000        4.000000        4.000000
mean         50.00000       57.250000       73.250000       45.750000
std          17.79513       14.221463       18.553975       24.878036
min          24.00000       46.000000       47.000000       12.000000
25%          45.75000       49.750000       67.250000       36.000000
50%          57.00000       52.500000       78.500000       50.500000
75%          61.25000       60.000000       84.500000       60.250000
max          62.00000       78.000000       89.000000       70.000000

In [9]:
# Task - 4 Check for the null values in 'df' and find the data type of the columns.

print(df.isnull())
print(df.info())

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      int64
 1   Random value 2  4 non-null      int64
 2   Random value 3  4 non-null      int64
 3   Random value 4  4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes
None

In [14]:
# Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

print(df.loc[0:3,'Random value 2':'Random value 3'])
print(df.iloc[:,[1,2]])

   Random value 2  Random value 3
0              46              89
1              54              83
2              51              74
3              78              47
   Random value 2  Random value 3
0              46              89
1              54              83
2              51              74
3              78              47